h1{
    text-align: center;
    color: {{color_text}};
}
h4{
    color: {{color_text}};
}
body {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-color: {{background_color}};
    color: {{color_text}};
    position: relative;
    background-size: cover;
    font-size: {{font_size}};
}

header{
    background: #000;
    color: #fff;
}

.menu1 .nav, .page-menu, .collapse, .navbar {
	font-size: large;
	background-color: #b3e0ff;

}

.col-sm-3 {
	background-color: #b3e0ff;
	color: #000000;
    font-weight : bold;
}

footer{
    position: relative;
    margin-top: -10px;
    width: 100%;
    padding: 50px;
    clear: both;
    background: #000;
    text-align: center;
    color: #fff;
}

#log{
    text-align: right;
    color: red;
}

#log2{
    text-align: right;
    color: red;
}


fieldset{
    margin: 0px 0% 0px 825px;
    font-family: sans-serif;
    width: 250;
    align: right;
}

.content-box-yellow, .content-box-blue, .content-box-green {
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px;
}
.content-box-yellow {
    background-color: #fef5c4;
    border: 1px solid #fadf98;
}
.content-box-blue {
    background-color: #d8ecf7;
    border: 1px solid #afcde3;
}
.content-box-green {
    background-color: #d9edc2;
    border: 1px solid #b2ce96;
}
